[Unit]
ConditionPathExists=/etc/rheapdumps/ssh/config

[Service]
ExecStart=/opt/rheapdumps/remotefilewatch.daemon %i
User=rheapdumps

[Install]
WantedBy=multi-user.target
